h2 {
  background-color: pink;
}

h1,h2 {
  color: white;
    padding: 1em;
}


header {
  background-color: purple;
  text-align: center;

}

main {
  background-color: lightgray;
  padding: 1em;
}

body {
  background-image: url("../record.png");
  background-repeat:repeat;
  margin: 0px;
  height:auto;
}
