h2 {
  background-color: pink;
}

header {
  background-color: purple;
  text-align: center;

}

main {
  background-color: lightgray;

}

body {
  background-image: url("../record.png");
  background-repeat: space;
}
