h2 {
  background-color: pink;
}

h1,h2 {
  color: white;
    padding: 1em;
}


/* header {
  background-color: purple;
  text-align: center;

} */

.title {
  background-color: purple;
  text-align: center;
}
/* Replaces the header tag with title class */

/* main {
  background-color: lightgray;
  padding: 1em;
} */

.questions {
  background-color: lightgray;
  padding: 1em;
}
/* Replaces the Main tag with questions class*/

body {
  /* background-image: url("../record.png");
  background-repeat:repeat; */
  margin: 0px;
}

.fullPage {
  background-image: url("../record.png");
  background-repeat:repeat;
  height:100vh;
}
